<img style="float:right; padding:0rem 1rem;" src="/aboutme.jpg" title="Me in Tokyo, touristizing a bit"/>
I'm Jon Valdés, a computer programmer who loves simplicity and performance, lately
interested in Go, computer graphics and C/C++ (mostly C, really...).

In the past I worked as a plugins developer for [RandomControl](http://randomcontrol.com), 
and more recently as an "embarrasingly generalist engineer" for [Ludei](http://ludei.com), 
working with C++, Go, JS, Dart, Java, ObjC... and doing everything from backend services 
to game engines and performance optimizations.

Right now I'm happily unemployed, working on lots of personal projects at the same time.

Currently living in the Basque Country, a nice region in the north of Spain.


For more details, here's my [LinkedIn profile](https://es.linkedin.com/pub/jon-valdes/85/b2a/830).

Also, you can [contact me on Twitter](https://twitter.com/jon_valdes)

