{{line (center (big "Jon Valdes' Retreat"))}}
{{line "                   -------------------------------------"}}
{{line ""}}
{{line "Sometimes I write. Then six months later I"}}
{{line "re-read it and think my old self was an idiot."}}
{{line ""}}
{{line "Rinse, repeat."}}
{{line ""}}
{{line ""}}
{{line "Right now I don't consider any of my"}}
{{line "old articles worth reading."}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line `<a href="/">&lt;-- BACK</a> `}}
