<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html>
    <head>
		<link rel="stylesheet" href="main.css" type="text/css"/>
    </head>
    <body>
    	<canvas id="maincanvas"></canvas>
    	<pre id="main">┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐
┌------------------------------------------------------------------------------┐</pre>
		
		<div id="hidden" style="display:none;">
			{{.Content}}
		</div>
    
    <script src="jquery-2.1.1.min.js"></script>
    <script>
    
    // http://stackoverflow.com/questions/12035923/how-can-i-snap-the-customize-image-cursor-with-a-vertical-line-using-js#12035979

    var ctx = $("#maincanvas")[0].getContext("2d");

    var lastx = 1;
    var lasty = 1;
    var params =[
    	[-2.951292,1.18775,0.517396,1.090625],
    	[-0.9669180,2.879879,0.76145,0.744728], 
    	[-2.905148,-2.030427,1.44055,0.70307], // lords
    	[2.668752,1.225105,0.709998,0.637272], // lords3
    	[-2.164647,-0.641713,1.277032,1.003342],// serfs3
    ];

    var selectedParam = Math.floor(Math.random() * params.length)
    var a = params[selectedParam][0]
    var b = params[selectedParam][1]
    var c = params[selectedParam][2]
    var d = params[selectedParam][3]

    setInterval(function(){
    	var canvas = $("#maincanvas")[0];
    	var h = canvas.width ;
    	var w = canvas.height;
  
    	ctx.fillStyle = "rgba(20,20,20,0.25)";

    	for( var i =0; i< 50; ++i){
			var x = Math.sin(lasty*b) + c*Math.sin(lastx*b);
			var y = Math.sin(lastx*a) + d*Math.sin(lasty*a);

			lastx = x;
			lasty = y;

    		var fx = (x + 6)/6.0 * w - w/2;
			var fy = (y+6)/6.0 * h - h/2;
        	ctx.fillRect (fx,fy, 1, 1);
    	}
    },16)

   	function resizeText() {
   		$("#main").css({left:0, top:0})
   		$("#main").removeClass("base");
   		var base=1;
   		while ($("#main").outerHeight() < window.innerHeight * 0.95 - 5 &&
			   $("#main").outerWidth() < window.innerWidth * 0.95 - 5){
   			base += 1
       		$("#main").css({"font-size":base+"pt"});
   		}
    	base-=1;
	    $("#main").css({"font-size":base+"pt"});

	    $('#main').css({
   			left: ($(window).innerWidth() * window.devicePixelRatio - $('#main').innerWidth())/2,
   			top: ($(window).innerHeight() * window.devicePixelRatio - $('#main').innerHeight())/2,
		});

		$("#main").addClass("base");
		var hw = parseInt($("#main").css("width")) * 0.5;
		$("#maincanvas")[0].width = hw;
		$("#maincanvas")[0].height = parseInt($("#main").css("height"));

		$("#maincanvas").css({
			left: parseInt($("#main").css("left")) + hw,
			top: $("#main").css("top"),
		})
	}

	var timeouts = [];

	function appendLineDelay(l,wait){
		timeouts.push(setTimeout(function(){
			$("#main").append(l);
		}, wait));
	}

	function regen(){
		for( var i=0;i<timeouts.length;++i){
			clearTimeout(timeouts[i]);
		}
		timeouts = [];

		var emptyline = "                                                                                \n";
		$("#main").html(emptyline)
		for( var i =0; i < 24 ; ++i ){
			$("#main").append(emptyline)
		}

		resizeText();

		var children = $("#hidden").children();
		var first = false;

		$("#main").html("+------------------------------------------------------------------------------+")
		for( var i =0; i < 23 ; ++i ){
			var c = "\n|                                                                              |";
			if(i < children.length){
				c = children[i].cloneNode(true);
			}
			appendLineDelay(c, i * 30)
		}

		appendLineDelay("\n+------------------------------------------------------------------------------+", 24*30);
		
	}

	$(window).on("load",function(){
		regen();
	});

	setInterval(function(){
		$("#cursor_char").addClass("cursor");
		setTimeout(function(){
			$("#cursor_char").removeClass("cursor");
		}, 600);
	},1200);


	$(window).resize(regen);

    </script>
    </body>
</html>
