<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html>
    <head>
		<link rel="stylesheet" href="/main.css" type="text/css"/>
    </head>
    <body>
        <div class="header">
            <div style="display:inline; float:left; padding:1.5em 2em;"><a href="https://twitter.com/jon_valdes">@jon_valdes</a></div>
            <div class="logo">
                <a href="/">hombrealto.com</a>
            </div>
            <div style="display:block;padding-right:2em;text-align:left;">
                <div class="section_link">
                    <a href="/projects">Projects</a>
                </div>
                <div class="section_link">
                    <a href="/blog">Blog</a>
                </div>
                <div class="section_link">
                    <a href="/thoughts">Thoughts</a>
                </div>
                <div class="section_link">
                    <a href="/about">About me</a>
                </div>
            </div>
        </div>
        <div class="header_shadow">
        </div>
        <div class="content">
            {{.Content}}
        </div>
   	</body>
    <script>
        window.onresize = function(ev){
            var w = Math.min(window.innerWidth, 1200);
            document.body.style.minWidth = w;
            document.body.style.maxWidth = w;
        };
        window.onresize();
    </script>
</html>
