__[Projects](/projects)__ --- A list of personal projects I've worked on in the last years. Some abandoned, some weird...

__[Blog](/blog)__ --- Sometimes (not very often) I write something longer than a few words, and I need somewhere to publish it. I tried using a third-party blogging service, but then I thought: *Hey I can do that myself!* So here we are.

__[Thoughts](/thoughts)__ --- On twitter I always try to write about technical stuff and only use english, out of respect for the non-spanish people that follow me. This is an escape valve for all those things I don't say on twitter, both in english and spanish. You can expect totally random thoughts here.

__[About me](/about)__ --- I'm pretty sure you can guess this one on your own...
