{{line (center (big "Jon Valdes' Retreat"))}}
{{line "                   -------------------------------------"}}
{{line ""}}
{{line ""}}
{{line `- <a href="/about">Who am I?</a>`}}
{{line ""}}
{{line `- Contact me <a href="https://twitter.com/jon_valdes">on twitter</a>`}}
{{line ""}}
{{line `- Here are some <a href="/projects">of my projects</a>`}}
{{line ""}}
{{line `- Sometimes I also <a href="#">ramble about stuff</a>`}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line `                                                      <a href="#" onclick="regen();">View another pattern</a>`}}

