{{line (center (big "Jon Valdes' Retreat"))}}
{{line "                   -------------------------------------"}}
{{line ""}}
{{line "Here's some of the things I've worked on:"}}
{{line ""}}
{{line `- <a href="https://vimeo.com/6303469" target="_blank">A KD-tree raytracer</a>`}}
{{line ""}}
{{line `- Voronoi-based <a href="https://vimeo.com/7680865" target="_blank">video interpolation</a>`}}
{{line ""}}
{{line `- Some tests with <a href="https://vimeo.com/10383803" target="_blank">GPU raymarching</a>`}}
{{line ""}}
{{line `- Fully destructible <a href="https://vimeo.com/40252856" target="_blank">KD-tree world</a>`}}
{{line ""}}
{{line `- A mining <a href="https://vimeo.com/92131438" target="_blank">2D game prototype</a>`}}
{{line ""}}
{{line `- Katiuska: <a href="https://www.youtube.com/watch?v=v3TdeHPFWhk" target="_blank">a weird mashup game</a>`}}
{{line ""}}
{{line `- The <a href="https://github.com/JonValdes/hombrealto" target="_blank">'hombrealto.com' website itself</a>`}}
{{line ""}}
{{line ""}}
{{line ""}}
{{line `<a href="/">&lt;-- BACK</a> `}}
