Recent Projects
========

jv_http
-------
A small library to do simple HTTP requests in C.
[Github repository](https://github.com/jonvaldes/jv_http)

termo
-------
A small ncurses-style, terminal-drawing library in Go.
[Github repository](https://github.com/jonvaldes/termo)

floosp (WIP)
------
This is still an ongoing game project, but you can [play an HTML5 demo here](http://hombrealto.com/floosp).
It's all programmed in C from scratch, and the HTML5 port was done with emscripten.

Gameplay is pretty final already, but graphics are total programmer-art right now, and I still have to 
create a lot more levels to make it interesting enough for release.

*****************

Older Projects
============

Octree-based software raytracer
---------------
<p>
<iframe src="https://player.vimeo.com/video/7468446?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</p>

Voronoi-based image interpolation
----------------
<p>
<iframe src="https://player.vimeo.com/video/7680865?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</p>

Fully destructible KD-tree world
----------------
<p>
<iframe src="https://player.vimeo.com/video/40252856?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</p>

A mining 2D game prototype
----------------
<p>
<iframe src="https://player.vimeo.com/video/92131438?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</p>

Katiuska: a weird mashup game
----------------
<p>
<iframe width="500" height="281" src="https://www.youtube.com/embed/v3TdeHPFWhk" frameborder="0" allowfullscreen></iframe>
</p>


