This section is for all thoughts I feel are off-topic in Twitter, either because they're non-technical or because they're in spanish.

You can expect total unfiltered randomness here.
<p class="thought"></p>
    ```2015/07/07``` 

Olor a verano = aftersun + antimosquitos

<p class="thought"></p>
    ```2015/07/07``` 

Hoy, en la mesa de al lado del restaurante, estaba Loquillo. Un hombre normal, sencillo, comiendo con su familia. Me gusta comprobar que los famosos son iguales que los demás. Y por eso, cuando me los encuentro, no les molesto. Que disfruten de un rato de paz.
 
<p class="thought"></p>
    ```2015/06/27``` 

I don't really want to kill every single fly and mosquito on earth. 

I just want to kill enough of them to exert enough evolutionary pressure for them to fear me and stay away. That should be enough.


<p class="thought"></p>
    ```2015/06/27``` 

I've got a personal project I'd like to work on, but the setup to get it working is so complex that I just can't gather the energy to make myself do it...


<p class="thought"></p>
    ```2015/06/26``` 

--- The telephone line is down  
--- Ok, no problem, we have satellite-internet  
--- The internet is down too  
--- The sky is falling! Run for your lives!

<p class="thought"></p>
```2015/06/26``` 

Probando Slack para el chat del cursillo de Go. Tanta fama que tiene, y en realidad no se diferencia mucho de Hipchat ¿Qué hace que la gente quiera usarlo tanto? 

Y lo mismo con AIM -> MSN Messenger -> GTalk -> Skype -> Hangouts -> whatever... Al final son todos lo mismo, pero cambiamos de uno a otro sin siquiera saber por qué... :-|

<p class="thought"></p>
```2015/06/24``` 

Vuelta a la carga con los cursos del e-ghost, este año voy a dar uno de introducción a Go. Después del desastre que fueron los últimos que dí hace años, quiero que este salga bien. La clave: preparación, preparación, preparación. Además, el curso va a quedar grabado, así que si hiciera una basura me estaría persiguiendo de por vida! xD

<p class="thought"></p>
```2015/06/20``` 

Me encanta la gente que, cuando un político se comporta de manera incorrecta en twitter, les escribe un tweet llamándoles "hijos de la gran puta". ¿Cómo era eso de mirar la paja en el ojo ajeno...?

*****************
