This section is still a WIP, but there are already a few random thoughts here...

*****************
```2015/06/26``` 

--- The telephone line is down  
--- Ok, no problem, we have satellite-internet  
--- The internet is down too  
--- The sky is falling! Run for your lives!

</br>
</br>
```2015/06/26``` --- Probando Slack para el chat del cursillo de Go. Tanta fama que tiene, y en realidad no se diferencia mucho de Hipchat ¿Qué hace que la gente quiera usarlo tanto? 

Y lo mismo con AIM -> MSN Messenger -> GTalk -> Skype -> Hangouts -> whatever... Al final son todos lo mismo :-|
</br>
</br>
```2015/06/24``` --- Vuelta a la carga con los cursos del e-ghost, este año voy a dar uno de introducción a Go. Después del desastre que fueron los últimos que dí hace años, quiero que este salga bien. La clave: preparación, preparación, preparación. Además, el curso va a quedar grabado, así que si hiciera una basura me estaría persiguiendo de por vida! xD
</br>
</br>
```2015/06/20``` --- Me encanta la gente que, cuando un político se comporta de manera incorrecta en twitter, les escribe un tweet llamándoles "hijos de la gran puta". ¿Cómo era eso de mirar la paja en el ojo ajeno...?
</br>


*****************
