@font-face {
	font-family: dos;
	src: url('dos.ttf');
}

body{
	padding-top: 0px;
	display:block;
	height:100%;
	width:100%;
	
	font-weight: lighter;
	font-family: dos;
	color:#111;
	background-color: #ffe;
	overflow:hidden;
	position: absolute;

}

#main {
	font-family: dos;
	margin-top:0px;
	margin-bottom:0px;
	display: block;
	position: absolute;
	height: auto;
    width: auto;
}

.base {
	background-color: rgba(0,0,0,0);
	color:black;
}

canvas {
	display:block;
	position:absolute;
}

span .base {
	background-color: rgba(0,0,0,0);
	color:black;	
}

a {
	color:#C66;
}