It's full of humans
===========================

Wikipedia says current human population growth is an annual 1.1%. That means __world population will double every 63 years__.

More precisely, if you want to know how much time a population doubling will take at a constant annual growth rate G,
the formula is ```100/G * ln(2)```. Using that formula, we see a 1.1% growth rate means population will double in ```100/1.1 * ln(2) = 63.01338``` years.

In this case, with an annual population growth rate of 1.1%, the first century would look like this:
<p style="text-align:center">
<img style="clear:right;" src="/blog_data/its_full_of_humans/firstCentury.png" align="middle">
</p>

After the first 100 years, we'd be pushing past 20 billion people. Certainly troubling for a small planet like Earth, but not exceedingly surprising.

However, if we look at the next 200 years, the curve starts turning upward quite fast:
<p style="text-align:center">
<img style="clear:right;" src="/blog_data/its_full_of_humans/300years.png" align="middle">
</p>

After just 300 years, population count would be nearing 200 billion people. That’s gonna be a problem… What about the next 200 years? Let’s see:
<p style="text-align:center">
<img style="clear:right;" src="/blog_data/its_full_of_humans/500years.png" align="middle">
</p>



That’s almost 1700 billion people! In 500 years we’ve gone from 7 to 1700 billion with just a “small” 1.1% annual growth rate!

<h2 style="text-align:center">At that rate, how much time would it take to fill the galaxy?</h2>

[According to space.com](http://space.about.com/od/frequentlyaskedquestions/a/How-Many-Habitable-Planets-Are-In-The-Milky-Way-Galaxy.htm), there could be around 500 million habitable planets in the Milky Way galaxy. If we now suddenly developed the ability to colonize all those planets and we continued with our current growth rate, how much time would it take for us to fill every single of those planets with 7 billion people, as we have on Earth now?

Well, the first planet is already full, so the second planet would only take one population doubling which, as I said earlier, would need 63 years. At that point, the next 63 years would double the galaxy population again, filling another 2 planets and leaving us with 4 Earth-like planets filled with humans. Next 63 years would double the head count again to fill another 4 planets, for a total of 8. It grows pretty fast, you see.

The total number of doublings we need to fill the whole galaxy would be log2(500,000,000) which is just 28.89735. At 63.01338 years per doubling, it would take us 28.89735 * 63.01338 = 1,820.92 years.

If we keep growing like this, in less than 2000 years we’ll have enough humans to fill the whole galaxy.

But we have the whole universe to colonize!
At that point we might think “well, we could jump to other galaxies and colonize those too”. Ok, fine. So if every galaxy has 500 million habitable planets and, according to space.com again, there are probably around 200 billion galaxies in the observable universe, how much time would it take?

Once we had one full galaxy, it would take log2(200 * 10^9) doublings, so in total that’d be 28.89 + log2(200 * 10^9) = 66.4148 doublings. Again, at 63 years per doubling, colonizing the whole observable universe would take just 4,185 years!

This is how the population count would evolve during those 4185 years until it reaches 5.35407*10^20 billions of humans:
<p style="text-align:center">
<img style="clear:right;" src="/blog_data/its_full_of_humans/4000years.png" align="middle">
</p>

We certainly need to work towards colonization of other planets, but first we have to learn to control our population growth if we don’t want to exhaust every single resource available to us in just a few millenia.



