<p>
<h1 style="text-align:center !important;">Simplicity</h1></br>
</p>

Lately I've been really interested in simplicity, and how it relates to my daily work as a programmer. 
In essence, I believe using complex tools is in general counter productive.

<h3>"Perfection is attained not when there is nothing more to add, but when there is nothing more to remove" --- Antoine de Saint Exupéry</h3>

As a quick example, does your build system improve your life over a simple bash/batch script?
Or maybe you feel your "automation" tools end up costing you more time debugging them than they save you?

Of course, some people will moan about the "power" those tools provide them, and if they do actually need that power, then of course they should use them. By all means. 

But how about you? Do you really need all that?

And more importantly, what about the people who use what you produce? Do they get any ill-effects from your choices? Could you make their lives easier?

Every time I have to use a third-party library, I shudder thinking what horrible build system they'll use, or the hoops I'll have to jump through to get it to work.
You know what a nice third-party library looks like? [Like This](https://github.com/nothings/stb/blob/master/stb_image.h). 
[And this](https://github.com/nothings/stb/blob/master/stb_truetype.h). No build system. No complex options. 
Just a single header file you include, build and run.

Do you need a bloated IDE? Or that big third-party library? Or a complex class hierarchy? Do you even need classes at all?

But really, the important question to ask is: 
<h2 style="text-align:center">Of all this, what do I _not_ need?</h2>

Ask that question often, and I bet you'll live a happier life.

